<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://netifytrainingdiary.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>netifytrainingdiary.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>netifytrainingdiary</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$netifytrainingdiary</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>jakobhellsten.onmicrosoft.com</ADDomain>
    <ADAppIDUri>https://jakobhellsten.onmicrosoft.com/WebApp-netifytrainingdiary.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>197f87ba-d528-4c4a-a206-e3a92a7a6f9e</ADClientAPPID>
    <ADClientPassword>qC5RqxQlh+ZyJparVu6jnk2RHSTWH6zew9NunwXy9c8=</ADClientPassword>
    <ADReplyUrl>https://netifytrainingdiary.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>89e08f6c-f760-4de8-a0a7-50b66a867007</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>